html, body {
    height: 100%;
    position:relative;
    overflow-x: hidden;
   }
.navbar
{
	margin-bottom:0;
	border-radius: 0;
	display: table-header-group;
}
.navbar-inverse
{
	background-color: #51445e;
}
.navbar-inverse .navbar-nav>li>a
{
	color: #f44336;
}
.navbar-inverse .navbar-brand
{
	font-family: 'Indie Flower', cursive;
	color: #00BCD4;
	font-weight: 400;
	padding: 15px 40px;
    font-size: 24px;
}
.navbar-inverse
{
	border-color: #51445e;
}
.wrapper {
    margin: 0 auto;
    height: 100%;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: url('../img/bg.jpg') no-repeat fixed;
	background-size: cover;
	display: table;
    position: absolute;
    height: 100%;
    width: 100%;
	
}
.container-fluid *
{
	text-align: center;
}
.container-fluid > .msg
{
	font-size: 24px;
	color: #565656;
	text-shadow: 2px 1px 2px rgba(255, 255, 255, 1);
}
.content
{
	 display: table-cell;
    vertical-align: middle;
}
.content > .container-fluid
{
 margin-left: auto;
    margin-right: auto; 
}
.btn-lg
{
	 white-space: normal;
	 margin-top: 5px;
}

.footer
{
	display:table-footer-group;
	width: 100%;
	background-color:#51445e;
}
.footer p
{
	padding: 10px 0;
	color: #f44336;
	
}
@media (min-width: 768px)
{
		.btn-lg
		{
			font-size: 2.718em;
		}
		.container-fluid > .msg
		{
			font-size: 36px;
			
		}
		.panel-body > .form-control
		{
		display: inline;
		width: auto;
		}
	}
	
	
.filterable {
    margin-top: 15px;
}
.filterable .panel-heading .pull-right {
    margin-top: -20px;
}
.filterable .filters input[disabled] {
    background-color: transparent;
    border: none;
    cursor: auto;
    box-shadow: none;
    padding: 0;
    height: auto;
}
.filterable .filters input[disabled]::-webkit-input-placeholder {
    color: #333;
}
.filterable .filters input[disabled]::-moz-placeholder {
    color: #333;
}
.filterable .filters input[disabled]:-ms-input-placeholder {
    color: #333;
}

nav + div
{
	background-color: rgba(149,217,197,0.5);
	display:table-row-group;
}